.nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  img {
    height: 80px;
  }
  
  .menu {
    display: flex;
    gap: 20px;
  }
  
  .link {
    color:#8A948C;
    text-decoration: none;
    font-size: 22px;
  }
  
  .menu a:hover {
    color: #007bff; 
  }
  
  
 button {
    background-color: #00308F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
 button:hover {
    background-color: #002060;
  }